#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
}

#scoreDisplay {
    font-weight: 700;
    font-size: 4em;

}

img {
    max-width: 60%;
    max-height: auto;
    border-radius: 20px;
}

p {
    text-align: center;
}